.git
.idea
.github
.vscode
config/packages/dev
config/packages/test
config/services/*/dev
config/services/*/test
docs
test
var
vendor
.dockerignore
.editorconfig
.env.*
.gitignore
behat.yml
compose.yml
composer.lock
deptrac.yaml
Dockerfile
infection.json
Makefile
php-cs-fixer.php
stan.neon
phpunit.xml
README.md
symfony.lock
