.git
.idea
.vscode
.github
docs
test
dev
var
vendor
.dockerignore
.env.test
.env.ci
.gitignore
behat.yml
compose.yml
deptrac.yaml
Dockerfile
infection.json
Makefile
php-cs-fixer.php
stan.neon
phpunit.xml
README.md
