.git
.idea
.github
.vscode
docs
test
dev
var
vendor
.dockerignore
.editorconfig
.env.*
.gitignore
behat.yml
compose.yml
composer.lock
deptrac.yaml
Dockerfile
infection.json
Makefile
php-cs-fixer.php
stan.neon
phpunit.xml
README.md
symfony.lock
