*

!bin
!build
!config
!public
!src
!test

!.env
!.env.test
!.gitignore
!behat.yml
!code-sniffer.xml
!compose.yaml
!composer.json
!composer.lock
!deptrac.yml
!Dockerfile
!infection.json
!Makefile
!mess-detector.xml
!phpunit.xml
!README.md
!stan.neon
!symfony.lock
