includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: 9
  parallel:
    maximumNumberOfProcesses: 8
    processTimeout: 300.0
  paths:
    - src
    - test
  excludePaths:
    - src/Kernel.php
    - test/bootstrap.php
  ignoreErrors:
    -
        message: '#Method Shared\\UserInterface\\ErrorController\\ErrorController::getHttpCode\(\) should return int but returns int<100, 500>\|string.#'
        path: src/Shared/UserInterface/ErrorController
