includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-symfony/rules.neon

rules:
  - Test\Utils\Tools\PhpStan\AllowOnlyOneExceptionRule

parameters:
  level: max
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 8
    processTimeout: 300.0
  paths:
    - src
    - test
  excludePaths:
    - src/Kernel.php
    - test/bootstrap.php
  ignoreErrors:
    -
        message: '#Method Utils\\ErrorController\\ErrorController::getHttpCode\(\) should return int but returns int<100, 500>\|string.#'
        path: src/Utils/ErrorController
    -
        message: '#\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given#'
        path: src/Shared/Domain/ValueObject/Decimal/InvalidDecimalException.php
